<%- include('partials/header') %>
<main>
    <h1>Vilate Knapp</h1>
    <img class="profile-picture" src="/images/Vilate.jpg" alt="Vilate Knapp">
    <p>
        Vilate is studying Software Engineering at BYU-I. She has two younger sisters and two younger brothers. Her favorite color is pink.
    </p>
</main>
<%- include('partials/footer') %>