<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <% navigationCategories.forEach((category) => { %>
                    <li>
                        <a href="/products/<%= category.slug %>"><%= category.name %></a>
                    </li>
                <% }); %>
                <!-- Add this link to your existing navigation -->
                <li><a href="/dashboard">Dashboard</a></li>
            </ul>
        </nav>
    </header>